.costum.label 
{
	-fx-font-size: 18;
	-fx-font-weight: bold;
	-fx-border-width: 2;
    -fx-border-color: black;
}

.selectedRoom.label {
	-fx-background-color: blue;
}

.root {
    -fx-base: #bfe7ff; 
    -fx-accent: #0096c9 ;
    -fx-default-button: #abd8ed ;
    -fx-focus-color: #039ed3;
    -fx-faint-focus-color: #039ed322;
    -fx-focused-text-base-color : ladder(
            -fx-selection-bar,
            -fx-light-text-color 45%,
            -fx-dark-text-color 46%,
            -fx-dark-text-color 59%,
            -fx-mid-text-color 60%
        );
    -fx-focused-mark-color : -fx-focused-text-base-color ;  

    -fx-font-family: verdana;  
}

.combo-box:disabled, .combo-box:disabled > * {
  -fx-opacity: 0.8 ;
}
.choice-box:disabled, .choice-box:disabled > * {
  -fx-opacity: 0.8 ;
}
.text-field:disabled, .text-field:disabled > * {
  -fx-opacity: 0.8 ;
}
.radio-button:disabled, .radio-button:disabled > * {
  -fx-opacity: 0.8 ;
}